*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #effaff;
}

.product-display-heading{
    font-size: 1.313rem;
    line-height: 1.7rem;
}


/* =========== carousel image =============== */
.carousel-image{
    max-height: 40vh;
    object-fit: cover;
}

/* ===============Four product display in one container================== */

.four-product-display-inner{
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    margin: 0;
}

.four-product-display-image{
    width: 100%;
    height: 100px;
    object-fit: cover;
}

/* =============Full Width product display=============== */
.full-width-container{
    overflow-x: scroll;
}
.full-width-container img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

/* ==========products card list============ */
.card-img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-footer{
    background-color: white;
    border: none;
}

/* ============ Footer =============== */
footer ul li{
    list-style-type:square;
}